body {
    font-family: arial, sans-serif;
}

main {
    width: 100%;
}

div.container {
    width: 47%;
    margin: 50px auto 0 auto;
    border-radius: 20px;
}

form {
    background: beige;
    padding: 20px 0px;
}

ul {
    list-style: none;
    margin: 0 auto;
}

li {
    display: inline-block;
}

input {
    appearance: none;
    padding: 10px 16px;
    border: 1px solid coral;
    margin-top: 6px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 1.1em;
}

label {
    font-size: 0.7em;
    color: burlywood;
    padding-left: 10px;
    text-transform: uppercase;
    display: block;
}

textarea {
    resize: none;
    margin-top: 8px;
    margin-left: 9.5px;
    border: 1px solid coral;
}

button {
    appearance: none;
    border: 1px solid transparent;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: coral;
    color: white;
}

button:hover {
    border: 1px solid black;
    cursor: pointer;
}

div.top-form{
    color: burlywood;
    padding-bottom: 23px;
}

div.top-form h1{
    font-style: italic;
    padding-left: 20px;
    font-size: 24px;
}

div.top-form p{
    padding-left: 20px;
    font-size: 17px;
}

div.top-form hr {
    width: 514px;
}

div.groep_types {
    margin-left: -25px;

}

p.extra-info {  
    padding-left: 10px;
    font-size: 12px;
    color: gray;
}

div.groep_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
}